<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Ranking Tool</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Resume Ranking Tool</h1>
    <div class="feature-grid">
        <div class="feature-card">
            <div class="card-content">
                <img src="../static/images/score_10.png" alt="Feature 1" class="feature-image">
                <div class="feature-text">
                    <h2>Score Each Resume out of 10</h2>
                    <p>Rate each resume from 1 to 10! Our smart algorithm matches resumes to job descriptions and gives you a clear score, so you can easily spot top candidates.</p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="card-content">
                <img src="../static/images/screen_status.jpg" alt="Feature 2" class="feature-image">
                <div class="feature-text">
                    <h2>Summarize Resumes</h2>
                    <p>Rate each resume from 1 to 10! Our smart algorithm matches resumes to job descriptions and gives you a clear score, so you can easily spot top candidates.</p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="card-content reverse-order">
                <div class="feature-text">
                    <h2>Chat with Resume</h2>
                    <p>Dive deeper with our chat feature! Ask questions and get extra insights straight from the resume using our powerful language model.</p>
                </div>
                <img src="../static/images/chat_doc.png" alt="Feature 3" class="feature-image">
            </div>
        </div>
        <div class="feature-card">
            <div class="card-content reverse-order">
                <div class="feature-text">
                    <h2>Generate Pitch Email</h2>
                    <p>Craft perfect pitch emails effortlessly! Our tool pulls key details from resumes to create personalized emails for your shortlisted candidates.</p>
                </div>
                <img src="../static/images/email_pitch.jpg" alt="Feature 4" class="feature-image">
            </div>
        </div>
    </div>
    <div class="button-container">
        <button class="get-started-btn" onclick="window.location.href='tool'">Get Started</button>
    </div>
</body>
</html>
